body {
	  background-color: #16161E;
	  color: #A9B1D6;

	  font-family: 'Inter', sans-serif;
	  display: block;
	  width: 75%;
	  margin: auto;
	  margin-top: min(20vh, 100px);
}

h1 {
	  font-family: 'Fira Code', sans-serif;
	  width: 25%;
	  font-size: 100px;
	  line-height: 1em;
}

p {
	  width: 50vw;
	  font-size: 25px;
}

a {
	  font-weight: bold;
	  text-decoration: none;
	  color: #7AA2F7;
	  transition: brightness 1s;
}

a:hover {
	  filter: brightness(1.1);
}

.flair-platinum {
	  color: #DB4B4B;
	  font-weight: bold;

	  background: 
	  linear-gradient(-45deg, transparent calc(100% / 3), #DB4B4BCC, transparent calc(200% / 3)) 
	  bottom right/350% 100% no-repeat;
	  transition: 0.5s linear;
}

.flair-platinum:hover {
	  background-position: bottom left;
}

.flair-silver {
	  color: #849AA4;
	  font-weight: bold;

	  background: 
	  linear-gradient(-45deg, transparent calc(100% / 3), #849AA4CC, transparent calc(200% / 3)) 
	  bottom right/350% 100% no-repeat;
	  transition: 0.5s linear;
}

.flair-silver:hover {
	  background-position: bottom left;
}

@media (max-width: 750px) {
	  body {
		  margin: 5em;
	  }

	  p {
		  width: unset;
		  margin: none;
	  }
}

@media (max-width: 550px) {
	  h1 {
		  font-size: 2rem;
	  }
}
